body {
    background: #000000;
    color: white;
}

h1 {
    color: white;
}

ul {
    padding: 0;
    display: inline-block;
}

li {
    list-style: none;
    display: inline-block;
}

.title {
    display: flex;
    justify-content: center;
}

.buttons ul {
    display: flex;
    justify-content: space-between;
}

#movieList img {
    padding: 10px;
    width: 280px;
    height: 400px;
}